extends base

block body
  <div class="page-wrapper">
      <!-- Bread crumb -->
      <div class="row page-titles">
          <div class="col-md-5 align-self-center">
              <h3 class="text-primary">List of Restaurants</h3> </div>
          <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                  <li class="breadcrumb-item active">List of Restaurants</li>
              </ol>
          </div>
      </div>
      <!-- End Bread crumb -->
      <!-- Container fluid  -->
      <div class="container-fluid">
          <!-- Start Page Content -->
          <div class="row">
              <div class="col-lg-12">
                  <div class="card card-outline-primary">
                      <div class="card-body">
                          <div class="table-responsive">
                              <table class="table">
                                  <thead>
                                  <tr>
                                      //<th>#</th>
                                      <th>Name</th>
                                      <th>No of Guests</th>
                                      <th>Phone Number</th>
                                      <th>Status</th>
                                      <th>Action</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  each reserv in reservations
                                    <tr>
                                        //<th scope="row">1</th>
                                        <td>#{reserv.firstName} #{reserv.lastName}</td>
                                        <td>#{reserv.attendCount}</td>
                                        <td>#{reserv.phoneNumber}</td>
                                        <td>#{reserv.status}</td>
                                        //<td class="color-primary">$21.56</td>
                                        <td>
                                          <a href="/view-reservation/#{reserv.id}"><i class="fa fa-eye mr-1 text-green"></i></a>
                                          <a onclick="deleteReservation(#{reserv.id})" href="#"><i class="fa fa-trash mr-1 text-green"></i></a>
                                        </td>
                                    </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- End PAge Content -->
      </div>
      <!-- End Container fluid  -->
      <!-- footer -->
      <footer class="footer"> © 2018 All rights reserved.</footer>
      <!-- End footer -->
  </div>
  
  block script
    script.
      function deleteReservation(reservationID) {
        $(document).ready(function() {
        if (window.confirm("Do you want to delete this reservation?")) {
          $.ajax({
              type: 'DELETE',
              url: '/reservation/' + reservationID, 
              success: function() {
                alert('Reservation deleted');
              }
          });
        }
        })
      };
