extends base

block body
    <div class="page-wrapper">
      <!-- Bread crumb -->
      <div class="row page-titles">
          <div class="col-md-5 align-self-center">
              <h3 class="text-primary">Update Restaurant</h3> </div>
          <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                  <li class="breadcrumb-item active">Update Restaurant</li>
              </ol>
          </div>
      </div>
      <!-- End Bread crumb -->
      <!-- Container fluid  -->
      <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-primary">
                    <div class="card-body">
                        <form action="/update-restaurant/#{restaurant.id}" method="post">
                          if validations!=null
                            <div class="alert alert-danger">
                              each val in validations
                                <li> #{val.message} </li>
                            </div>
                          <div class="form-body">
                              <div class="row p-t-20">
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label class="control-label">Restaurant Name</label>
                                          <input type="text" name="restaurantName" class="form-control" value="#{restaurant.restaurantName}">
                                          <p class="help-block alert-danger">#{form != null ? form.getErrors("restaurantName") : ''}</p>
                                      </div>
                                  </div>
                                  <!--/span-->
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label class="control-label">Restaurant Address</label>
                                          <input type="text" name="restaurantAddress" class="form-control" value="#{restaurant.restaurantAddress}">
                                          <p class="help-block alert-danger">#{form != null ? form.getErrors("restaurantAddress") : ''}</p>
                                      </div>
                                  </div>
                                  <!--/span-->
                              </div>

                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label class="control-label">Restaurant City</label>
                                          <input type="text" name="restaurantCity" class="form-control" value="#{restaurant.restaurantCity}">
                                          <p class="help-block alert-danger">#{form != null ? form.getErrors("restaurantCity") : ''}</p>
                                      </div>
                                  </div>
                                  <!--/span-->
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label class="control-label">Cuisine</label>
                                          <input type="text" name="restaurantType" class="form-control" value="#{restaurant.restaurantType}">
                                          <p class="help-block alert-danger">#{form != null ? form.getErrors("restaurantType") : ''}</p>
                                      </div>
                                  </div>
                                  <!--/span-->
                              </div>

                              <div class="row">
                                  <div class="col-md-12">
                                      <div class="form-group">
                                          <label class="control-label">Restaurant Description</label>
                                          <textarea rows="7" name="restaurantDescription" class="form-control" value="#{restaurant.restaurantDescription}"></textarea>
                                      </div>
                                  </div>
                              </div>

                              <!--/row-->
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label class="control-label">Email</label>
                                          <input type="text" name="email" class="form-control" value="#{restaurant.email}">
                                          <p class="help-block alert-danger">#{form != null ? form.getErrors("email") : ''}</p>
                                      </div>
                                  </div>
                                  <!--/span-->
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label class="control-label">Phone Number</label>
                                          <input type="text" name="phoneNumber" class="form-control" value="#{restaurant.phoneNumber}">
                                          <p class="help-block alert-danger">#{form != null ? form.getErrors("phoneNumber") : ''}</p>
                                      </div>
                                  </div>
                                  <!--/span-->
                              </div>

                              <!--/row-->
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label class="control-label">Restaurant Opening Hours</label>
                                          <input type="text" name="openingHrs" class="form-control" value="#{restaurant.openingHrs}">
                                          <p class="help-block alert-danger">#{form != null ? form.getErrors("openingHrs") : ''}</p>
                                      </div>
                                  </div>
                                  <!--/span-->
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label class="control-label">Restaurant Image</label><br>
                                          <img src="/#{restaurant.restaurantImage}" width="100%">
                                          <input type="file" name="restaurantImage">
                                      </div>
                                  </div>
                                  <!--/span-->
                              </div>

                              <!--/row-->
                              <div class="row">
                                  <div class="col-md-12">
                                      <div class="form-group">
                                          <label class="control-label">Restaurant Table</label>
                                          <div class="row">
                                              <div class="col-lg-4">
                                                  <label class="control-label">2 Person</label>
                                                  <input type="number" class="form-control" placeholder="Available Tables" name="twoSeatTables" value="#{restaurant.twoSeatTables}">
                                                  <p class="help-block alert-danger">#{form != null ? form.getErrors("twoSeatTables") : ''}</p>
                                              </div>
                                              <div class="col-lg-4">
                                                  <label class="control-label">4 Person</label>
                                                  <input type="number" class="form-control" placeholder="Available Tables" name="fourSeatTables" value="#{restaurant.fourSeatTables}">
                                                  <p class="help-block alert-danger">#{form != null ? form.getErrors("fourSeatTables") : ''}</p>
                                              </div>
                                              <div class="col-lg-4">
                                                  <label class="control-label">6 Person</label>
                                                  <input type="number" class="form-control" placeholder="Available Tables" name="sixSeatTables" value="#{restaurant.sixSeatTables}">
                                                  <p class="help-block alert-danger">#{form != null ? form.getErrors("sixSeatTables") : ''}</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="form-actions pull-right">
                            <button type="submit" class="btn btn-green">Update</button>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
          <!-- End PAge Content -->
      </div>
      <!-- End Container fluid  -->
      <!-- footer -->
      <footer class="footer"> © 2018 All rights reserved.</footer>
      <!-- End footer -->
    </div>
    <!-- End Page wrapper  -->
